@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  background-color: rgb(98, 98, 98);
  min-height: 100vh;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Ubuntu, Helvetica, sans-serif;
  padding: 16px;
}

.row { 
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  color: black;
  transition: 0.3s;
  width: 320px;
  height: 420px;
  border-radius: 2px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  cursor: pointer;
}

.card-picture {
  width: 100%;
  height: 300px;
  border-radius: 2px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-picture > img {
  width: 100%;
  height: 100%;
}

.card-body {
  padding: 8px;
}

.card-body-title {
  margin-bottom: 5px;
}

